@charset "utf-8";
/* CSS Document */
html, body{ /*width:100%;*/ height:100%;}
body{
	background:url(../images/bg.jpg); /*margin:0px;*/
}

.max-width{ max-width:100%;}

#container-table{width:100%; height:100%; margin:0 auto; display:table;}
#barra-top-login{ background:#dd0200; position:relative; width:100%; padding-top:2em; padding-bottom:1.5em; padding-left:15px; padding-right:15px;}
#barra-top-login #center-form-barra{ max-width:768px; margin:0 auto}
#barra-top-login #center-form-barra .btn-entrar{ background:none; border:none; padding-left:0px}
#barra-top-login #center-form-barra .pos-relative{ position:relative}
#barra-top-login #center-form-barra #img-ingresar{ position:absolute; top:-2.5em; left:-0.5em}


#table #fondo-logo-middle{ background:#000; }
#table #fondo-logo-middle #central-content{padding-left:15px; padding-right:15px;}
.texto-login{ text-align:center; padding-bottom:2em; color:#461800; font-family: "Open Sans",Helvetica,Arial,sans-serif;}
.texto-login  #span-logo1{ font-size:1.5em; font-weight:100 }


#container-table img{
	  max-width:383px;
	  
	  
	  width:100%; height:auto; display: inline-block; vertical-align:middle;  display: block;
      margin-left: auto;
      margin-right: auto;
      border:none;}
#table{display: table-cell; vertical-align: middle;}

@media (max-width: 1024px) {
	#barra-top-login #center-form-barra .pos-relative{ display:none;}
	
	#center-form-barra .form-control{ margin-bottom:0.5em}
}