@charset "utf-8";
/* CSS Document */

html,
body {
    height: 100%;
        /* The html and body elements cannot have any padding or margin. */
}

#wrap {
   min-height: 100%;
   height: auto !important;
   height: 100%;
        /* Negative indent footer by it's height */
   margin: 0 auto -40px;
}


/*
==============================================
	Home
==============================================
*/
body{ background:#000; background-image:url(../../images/bg.jpg); background-position:center center; background-repeat:no-repeat;}
header{ background:#000; /*background-image:url(../images/fondo-medio-login.jpg); background-position:bottom;*/ padding-top:0.5em;}
header div img{ padding-bottom:1.5em}
#wellcome{ background:#dd0200; /*background-image:url(../images/sombra-wellcome.png); background-position: center center; background-repeat:no-repeat;*/}
.max-width{ max-width:100%;}
.top{ margin-top:3em;max-width: 700px;}

#menu-opcion-top-header li{ display:inline-block}
.fondo-titulo{ background: rgba(0,0,0,0.8); color:#fff;}
.fondo-titulo h1{ font-size:2em}
.back-blanco{ background:#FFF; padding-top:1.7em}






#push,
#footer {
   height: 40px;
}

.margin-bottom-input{ margin-bottom:0.5em}
.max-width{ max-width:100%;}


/*
===========================
FOOTER
===========================
*/
.clear_footer{
	height:35px;
}
.clear_footer_height{
	height:70px;
}
#footer {
   background-color: #333 /*#F27B05*/;
}

#footer .credit{ text-align:center; color:#FFF; line-height:40px; margin-bottom: 0px;}

.img_mini_top{ max-width:75px;}
 /* Lastly, apply responsive CSS fixes as necessary */
     /* @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }*/