@charset "utf-8";
/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
	color:#666666;
}
#Wrapper {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	background: #EEEEEE;
	padding: 20px;
	border: 1px solid #E6E6E6;
}
#progressbox {
	border: 1px solid #0099CC;
	padding: 1px;
	position:relative;
	width:400px;
	border-radius: 3px;
	margin: 10px;
	display:none;
	text-align:left;
}
#progressbar {
	height:20px;
	border-radius: 3px;
	background-color: #003333;
	width:1%;
}
#statustxt {
	top:3px;
	left:50%;
	position:absolute;
	display:inline-block;
	color: #000000;
}

