.button {
  text-decoration: none;
  color: white;
  padding: 10px;
  text-transform: uppercase;
  display: inline-block;
  text-shadow: -2px 2px 0 rgba(0, 0, 0, 0.2);
  font-weight: bold;
  padding-right: 50px;
  margin: 10px;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: 70%;
}
.button.blue {
  background:#ecc92b;
  color: #ffffff;
  box-shadow: -1px 0px 1px #b3acad, 0px 1px 1px #83878a, -2px 1px 1px #b3acad, -1px 2px 1px #83878a, -3px 2px 1px #b3acad,
  -2px 3px 1px #83878a, -4px 3px 1px #b3acad, -3px 4px 1px #83878a, -5px 4px 1px #b3acad, -4px 5px 1px #83878a, -6px 5px 1px #b3acad,
  -6px 7px 0 rgba(0, 0, 0, 0.05), -5px 8px 0 rgba(0, 0, 0, 0.05), -3px 9px 0 rgba(0, 0, 0, 0.04), -2px 10px 0 rgba(0, 0, 0, 0.04), -1px 11px 0 rgba(0, 0, 0, 0.03), 0px 12px 0 rgba(0, 0, 0, 0.03), 1px 13px 0 rgba(0, 0, 0, 0.02), 2px 14px 0 rgba(0, 0, 0, 0.02), 3px 15px 0 rgba(0, 0, 0, 0.01), 4px 16px 0 rgba(0, 0, 0, 0.01), 5px 17px 0 rgba(0, 0, 0, 0.01), 6px 18px 0 rgba(0, 0, 0, 0.01), inset 0 4px 5px -2px rgba(255, 255, 255, 0.5), inset 0 1px 0 0 rgba(0, 0, 0, 0.3);
}
.button.yellow {
  background:#f20323;
  color: #ffffff;
  text-shadow: -2px 2px 0 rgba(255, 255, 255, 0.3);
  box-shadow: -1px 0px 1px #b3acad, 0px 1px 1px #83878a, -2px 1px 1px #b3acad, -1px 2px 1px #83878a, -3px 2px 1px #b3acad, -2px 3px 1px #83878a, -4px 3px 1px #b3acad, -3px 4px 1px #83878a, -5px 4px 1px #b3acad, -4px 5px 1px #83878a, -6px 5px 1px #b3acad,
  -6px 7px 0 rgba(0, 0, 0, 0.05), -5px 8px 0 rgba(0, 0, 0, 0.05), -3px 9px 0 rgba(0, 0, 0, 0.04), -2px 10px 0 rgba(0, 0, 0, 0.04), -1px 11px 0 rgba(0, 0, 0, 0.03), 0px 12px 0 rgba(0, 0, 0, 0.03), 1px 13px 0 rgba(0, 0, 0, 0.02), 2px 14px 0 rgba(0, 0, 0, 0.02), 3px 15px 0 rgba(0, 0, 0, 0.01), 4px 16px 0 rgba(0, 0, 0, 0.01), 5px 17px 0 rgba(0, 0, 0, 0.01), 6px 18px 0 rgba(0, 0, 0, 0.01), inset 0 4px 5px -2px rgba(255, 255, 255, 0.5), inset 0 1px 0 0 rgba(0, 0, 0, 0.3);
}
.button.yellow:after, .button.yellow:before {
  background: black;
}
.button.yellow:after {
  -webkit-filter: drop-shadow(-2px 0 0 rgba(255, 255, 255, 0.4));
  filter: drop-shadow(-2px 0 0 rgba(255, 255, 255, 0.4));
}
.button.yellow:before {
  -webkit-filter: drop-shadow(0 -2px 0 rgba(255, 255, 255, 0.35));
  filter: drop-shadow(0 -2px 0 rgba(255, 255, 255, 0.35));
}
.button.yellow .arrow {
  -webkit-filter: drop-shadow(-2px 0 0 rgba(255, 255, 255, 0.4));
  filter: drop-shadow(-2px 0 0 rgba(255, 255, 255, 0.4));
}
.button:active {
  box-shadow: none;
  -moz-transform: translate3d(-6px, 6px, 0);
  -ms-transform: translate3d(-6px, 6px, 0);
  -webkit-transform: translate3d(-6px, 6px, 0);
  transform: translate3d(-6px, 6px, 0);
}
.button .arrow {
  -webkit-filter: drop-shadow(-2px 0 0 rgba(0, 0, 0, 0.2));
  filter: drop-shadow(-2px 0 0 rgba(0, 0, 0, 0.2));
}
.button:after {
  -webkit-filter: drop-shadow(-2px 0 0 rgba(0, 0, 0, 0.2));
  filter: drop-shadow(-2px 0 0 rgba(0, 0, 0, 0.2));
}
.button:after, .button:before {
  position: absolute;
  content: " ";
  right: 15px;
  top: 14px;
  width: 6px;
  height: 18px;
  background: white;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  display: block;
  z-index: 2;
}
.button:before {
  height: 14px;
  top: 26px;
  right: 16px;
  z-index: 3;
  -moz-transform: rotate(-137deg);
  -ms-transform: rotate(-137deg);
  -webkit-transform: rotate(-137deg);
  transform: rotate(-137deg);
  -webkit-filter: drop-shadow(0 -2px 0 rgba(0, 0, 0, 0.15));
  filter: drop-shadow(0 -2px 0 rgba(0, 0, 0, 0.15));
}

body {
    margin:0;
	background: #000000;
	font-family: Helvetica;
    color: #ffffff;	
    padding: 50px;
}

.cabezera img{
	max-width:100%;
    max-height:100%;	
}