/*CSS para LOGIN*/
body {font: 14px/21px "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;}
.login_form h2, .login_form label {font-family:Georgia, Times, "Times New Roman", serif;}
.form_hint, .required_notification {font-size: 11px;}

body {
	margin:0;
	background: #000000;
	width:100%;
	color: #ffffff;
	height: 100%;
	background: url(../img/splash.jpg) no-repeat center; 
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	z-index:-1;
}

.login_form ul {
    width:100%;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
.login_form li{
    padding:12px; 
    border-bottom:1px solid #eee;
    position:relative;
}

.login_form li:first-child, .login_form li:last-child {
    border-bottom:1px solid #777;
}

.login_form label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}
.login_form input {
    height: 40px; 
    width:100%;
	
    padding:5px 8px;
}

.login_form button {margin-left:156px;}
/* Button Style */
.login_form input, .login_form textarea { 
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
}
.login_form input:focus, .login_form textarea:focus {
    background: #fff; 
    border:1px solid #555; 
    box-shadow: 0 0 3px #aaa; 
}

.login_form input, .login_form textarea { /* add this to the already existing style */
    -moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
    -o-transition: padding .25s;
    transition: padding .25s;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #ffb5e1;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
}

.login_form form h2 {
    margin:0;
    display: inline;
}
.required_notification {
    color:#d45252; 
    margin:11px 0 6px 0; 
    display:inline;
    float:right;
}

*:focus {outline: none;}

:-moz-placeholder {
    color: blue;
}
 
::-webkit-input-placeholder {
    color: blue;
}