@font-face {
    font-family: 'nexbold';
    src: url('nexabold.otf');
}

@font-face {
    font-family: 'Roboto',sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto');
}


.title{
  height:auto;
  margin-top: 20px;
  font-family: nexbold;
  font-size: 8em;
  font-size: 5.5vw;
  color: #ffffff;
  font-weight: bold;
}


.output {
  height:auto; 
  font-family: Roboto;
  font-size: 400em;
  font-size: 40.5vw;
  color: #ffb5e1;
  font-weight: bold;
}

.footer{
	background: url(../img/logo.png) no-repeat center; 
	z-index:-1;
	margin: auto;
	height:15%; 
    width: 100%;
    padding: 1%;
	text-align: center;
	bottom:0;
	position:absolute;
}

body {
	margin:0;
	font-family: nexbold;
    color: #ffffff;
	width:100%;
	background-image: url(../img/euro2.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color:#ffffff;
	
}

.container{
	text-align:center;
}

header {
	background: #a69e2a;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.cabezera{
	background:#ffffff;
	width: 90%; 
	border: none;
	height: 30px;
}

/* For mobile devices */
@media only screen and (max-width: 767px) and (orientation:landscape) {
	body {
		background-image: url(../img/eurotablet.jpg);
	}	
	  
	.output {
	font-size: 300em;
	font-size: 25.5vw;
	}

	.footer{
	background-image: url(../img/logo-land.png);
	height: 105px;
	width: 535px;
	position: relative;
	bottom: 0px;
	}
}

 @media screen and (orientation:portrait) and (min-width: 700px){
	.footer{
	background: url(../img/logo.png) no-repeat center; 
	z-index:-1;
	margin: auto;
	height:15%; 
    width: 100%;
    padding: 1%;
	text-align: center;
	bottom:none;
	position:relative;
	}
	
	.title{
	  height:auto;
	  margin-top: 28%;
	  font-family: nexbold;
	  font-size: 8em;
	  font-size: 5.5vw;
	  color: #ffffff;
	  font-weight: bold;
	}
 }
 
  @media screen and (orientation:portrait) and (min-width: 300px) {
	.footer{
	background: url(../img/logo-land.png) no-repeat center;
	z-index: -1;
	margin: auto;
	height: 15%;
	width: 100%;
	padding: 1%;
	text-align: center;
	bottom: none;
	position: relative;
	}
	
	.title{
	  height:auto;
	  margin-top: 28%;
	  font-family: nexbold;
	  font-size: 8em;
	  font-size: 5.5vw;
	  color: #ffffff;
	  font-weight: bold;
	}
 }
 
 @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) { 
.output {
	  font-size: 200em;
	  font-size: 20.5vw;
	}
	
	.footer{
	background: url(../img/logo-land.png) no-repeat center;
	position:fixed;
	}
}
 
 
 /*@media screen and (orientation:landscape) and (max-width: 500px) {
  .output {
  font-size: 200em;
  font-size: 20.5vw;
}
	
  
	.footer{
	position:fixed;
	}
 }*/
  
 @media screen and (orientation:landscape) and (min-width: 1200px) {
  .output {
  font-size: 300em;
  font-size: 30.5vw;
}
	
  
	.footer{
	position:fixed;
	}
 }
 
 
/*
/* ================================================ */
/* Responsive - Media queries                       */
/* Based on:                                        */
/* http://lab.maltewassermann.com/viewport-resizer/ */
/* ================================================ */
 
 
/* ============================================== */
/* HDTV                                           */
/*                                      1920x1080 */
/* ============================================== 
@media screen and (min-width: 1080px) and (max-width: 1920px) {
/* ADD YOUR CSS ADJUSTMENTS BELOW HERE 
. . .
 
}
 
/* ============================================== */
/* Widescreen                                     */
/*                                       1280x800 */
/* ============================================== 
@media screen and (min-width: 800px) and (max-width: 1280px) {
/* ADD YOUR CSS ADJUSTMENTS BELOW HERE 
. . .
 
}
 
/* ============================================== */
/* Twitter Bootstrap                              */
/*                                       980x     */
/* ============================================== 
@media screen and (min-width: 980px) {
/* ADD YOUR CSS ADJUSTMENTS BELOW HERE 
. . .
 
}
 
/* ============================================== */
/* Twitter Bootstrap                              */
/*                                       x979     */
/* ============================================== 
@media screen and (max-width: 979px) {
/* ADD YOUR CSS ADJUSTMENTS BELOW HERE 
. . .
 
}
 
/* ============================================== */
/* iPad Landscape & Portrait                      */
/*                                       1024x768 */
/* ============================================== 
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
/* ADD YOUR CSS ADJUSTMENTS BELOW HERE 
. . .
 
}
 
/* ============================================== */
/* iPad Landscape                                 */
/*                                       1024x768 */
/* ============================================== 
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
/* ADD YOUR CSS ADJUSTMENTS BELOW HERE 
. . .
 
}
 
/* ============================================== */
/* iPad Portrait                                  */
/*                                       768x1024 */
/* ============================================== 
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
/* ADD YOUR CSS ADJUSTMENTS BELOW HERE 
. . .
 
}
 
/* ============================================== */
/* Small Tablet Landscape/Portrait                */
/*                                        800x600 */
/* ============================================== 
@media screen and (min-width: 600px) and (max-width: 800px) {
/* ADD YOUR CSS ADJUSTMENTS BELOW HERE 
. . .
}
 
 
/* ============================================== */
/* iPhone5/Android landscape (& narrow browser)   */
/*                                        568x320 */
/* ============================================== 
@media screen and (min-width: 320px) and (max-width:568px) {
/* ADD YOUR CSS ADJUSTMENTS BELOW HERE 
. . .
}
 
/* ============================================== */
/* iPhone4/Android landscape (& narrow browser)   */
/*                                        480x320 */
/* ============================================== 
@media screen and (min-width: 320px) and (max-width:480px) {
/* ADD YOUR CSS ADJUSTMENTS BELOW HERE 
. . .
}
 
/* ============================================== */
/* iPhone4/Android portrait               320x480 */
/* iPhone5 portrait                       320x568 */
/* ============================================== 
@media screen and (max-width:320px) {
/* ADD YOUR CSS ADJUSTMENTS BELOW HERE 
. . .
}
 
/* ============================================== */
/* Smaller devices                                */
/* Android Landscape                      320x240 */
/* ============================================== 
@media screen and (min-width:240px) and (max-width:320px) {
/* ADD YOUR CSS ADJUSTMENTS BELOW HERE 
. . .
}
 
/* ============================================== */
/* Smaller devices                                */
/* Android Portrait                       240x320 */
/* ============================================== 
@media screen and (max-width:240px) {
/* ADD YOUR CSS ADJUSTMENTS BELOW HERE
. . .
}
*/



