/*html {
  position: relative;
  min-height: 100%;
}*/
html,
body{
  height: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px;
  padding-bottom: 60px
}

.container-fluid {
    margin: 0 auto;
    height: 100%;
    padding: 20px 0;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.columns {
    height: 100%;   
}

.content-area{
    overflow:auto;
    height: 100%;
    min-height: calc(100vh - 140px);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.footer .pie{
	padding: 10px;
}

ul#actions{
    padding:0;
    margin:0;
    float:right;
    width:180px;
    padding:5px;
    background:#f4f4f4;
    border:#ccc 1px solid;
}

ul#actions li{
    padding:2px 0 2px 15px;
    margin:0;
    list-style:none;
}

ul.list_items li{
    padding:5px;
    border-bottom:1px #ccc dashed;
    list-style:square;
}

ul#info{
    padding:6px;
    margin:0;
    background:#f4f4f4;
    border:dashed 1px #ccc;
    width:65%;
}

ul#info li{
    padding:0;
    margin:0;
    list-style:none;
    line-height:1.7em;
}