/*

Style : Purple Theme CSS
Version : 1.0
Author  : Surjith S M
URI   : http://themeforest.net/user/surjithctly

Copyright © All rights Reserved
Surjith S M / @surjithctly

*/
/* 
   COLOR PALLETTES : Purple
   ------------------------------------------------
  
   Purple 1       : #ff00aa;
   Dark Grey      : #3b3b3b;
   Medium Grey    : #5c5c5c;
   Light Grey     : #818181;
   Lightest Grey  : #C2C2C2;
   White          : #ffffff;
   Pink: #ff00aa;

   
   */
/* ================================================
   THEME SPECIFIC STYLES : VISUAL STYLES ONLY
   ================================================ */
/*White bg*/

body,
.pace .pace-progress {
    background: #FFF;
}
/*Grey*/

body,
.timeline-content h2 {
    color: #5c5c5c;
}

.nav-pills>li>a {
    color: #C2C2C2;
}

.form-control:focus {
    border-color: #ff00aa;
}

.navbar-default .navbar-nav>li>a {
    color: #818181;
}

.slick-prev:before,
.slick-next:before {
    color: #C2C2C2;
}
/* Purple
 * ----- */

::-moz-selection {
    background: #ff00aa;
    color: #FFF;
}

::selection {
    background: #ff00aa;
    color: #FFF;
}

.header,
.sub-header {
    color: #FFF;
}
/*color*/

a,
a:hover,
a:focus,
.speaker-info p,
.highlighted-plan .price,
.highlighted-plan .plan-name {
    color: #ff00aa;
}

.benefit-item .benefit-icon i {
    color: #ff00aa;
}
/*background*/

.timeline::before {
    background: #ff00aa;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #FFF;
    background-color: #ff00aa;
}
/*border*/

.timeline-bullet,
.highlighted-plan {
    border-color: #ff00aa;
}
/*background color*/

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: #ff00aa;
}
/* 
  BUTTONS
  ------- */

.btn-default {
    color: #ff00aa;
    border-color: #FFF;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
    background-color: transparent;
    border-color: #FFF;
    color: #FFF;
}

.btn-primary {
    background-color: #5c5c5c;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    background-color: #3b3b3b;
}

.btn-success {
    background-color: #ff00aa;
    border-color: #ff00aa;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
    background-color: #FFF;
    border-color: #ff00aa;
    color: #ff00aa;
}

.btn-outline {
    color: #8C8C8C;
    border-color: #CACACA;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    background-color: transparent;
    border-color: #818181;
    color: #8C8C8C;
}
