body{
	color:#1f1f1f;
	background-image: url(bg.jpg);
	background-repeat: no-repeat;
	background-color:#000;
}
a{
	color:#e51937;
}

#nav > ul > li.active > a{
	background:#e51937 !important;
	color:#fff;
}
#nav li li a:hover,
#nav li li.active a{
	background:#e51937;
}
.gallery .tp-leftarrow,
.gallery .tp-rightarrow{
	background:#e51937;
}
.gallery .more{
	background:#e51937;
	color:#fff;
}
.player-box a:hover{
	background-color:#e51937;
}
.player-box .jp-progress .jp-play-bar{
	background:#e51937;
}
.twitter-box .meta .time a{
	color:#e51937;
}
.carousel .btn-prev:hover,
.carousel .btn-next:hover{
	background:#e51937;
}
.carousel .slide a.hover,
.article a.hover{
	background:#e51937;
	color:#1a1a1a;
}
.carousel .date,
.article .date{
	color:#e51937;
}
.carousel .video-box .btn-play{
	color:#e51937;
}
.button-more:hover{
	background:#e51937;
	color:#1a1a1a;
}
.single-post h2{
	color:#e51937;
}
.meta .date{
	color:#e51937;
	background:#fff;
}
.blockquote-block .title{
	color:#e51937;
}
.blockquote-block cite{
	color:#e51937;
}
a.button{
	background:#e51937;
	color:#000;
}
.filters-block .active a{
	background:#e51937 !important;
}
.media-block a.hover{
	background:#e51937;
	color:#1a1a1a;
}
.media-block .date,
.media-block .category{
	color:#e51937;
}
.photos-list .hover-text span{
	color:#e51937;
}
.contact-box .phone{
	color:#e51937;
}
.form input[type="submit"]{
	background:#e51937;
	color:#000;
}
.error{
	color:#e51937
}
input.error{
	border-color:#e51937!important
}
.success span{
	color:#e51937;font-size: 30px;
}
.info-section h2{
	color:#e51937;
}
.concerts-list .title-row .date{
	color:#e51937;
}
.concerts-list .title-row.hover .buttons{
	background:#e51937;
}
.concerts-list .expanded .title-row .link{
	color:#e51937 !important;
}
.concerts-list .title-row.hover .buttons .button{
	background:#232323;
	color:#e51937;
}
.concerts-list .title-row.hover .button:hover{
	color:#fff;
}
.concerts-list .expanded .title-row .button{
	background:#e51937 !important;
	color:#000 !important;
}
.concerts-list .expanded .title-row:after{
	background:#e51937;
}
#sidebar ul a .number{
	color:#e51937;
}
.subscribe-block label span{
	color:#e51937;
}
.subscribe-block input[type="submit"]:hover{
	background:#e51937;
	color:#010101;
}
.subscribe-block .status{
    color:#e51937!important;      
}
.select-options .item-selected a{
	background:#e51937;
}
.concerts-list .title-row .opener:hover{
	color:#e51937;
}
.concerts-list .title-row .link{
	color:#e51937 !important;
}
.concerts-list .expanded .title-row .opener:hover:after{
	background:#e51937;
}
.concerts-list .title-row .button{
	background:#e51937 !important;
	color:#000 !important;
}

.panel .opener span:after,
.social-networks a,
.gallery .tp-leftarrow:after,
.gallery .tp-rightarrow:after,
.link:before,
.player-box a,
.twitter-box .meta:after,
.carousel .btn-prev:after,
.carousel .btn-next:after,
.carousel .more,
.article .more,
.carousel .video-box .btn-play:before,
.video-block .btn-play,
.tracks-list .btn-play,
.tracks-list .btn-pause,
.media-block .text-box:after,
.photos-list .hover-text span:after,
.concerts-list .title-row .opener:after,
.concerts-list .title-row:after,
.select-area .select-opener,
.twitter-box .meta:after,
#sidebar ul a:after{
	background-image: url(sprite.png)!important;
}