body{
    font-family: $roboto-slab !important;
}
.navbar{
    margin-bottom: 0px;
    a{
        color: set-text-color($main-color) !important;
    }
    .fa{
        font-size: $icon-size-nav;
    }
}

.slide{
    background: url(../img/pexel-slide.jpg) no-repeat 0 -200px;
    min-height: 40vw;
    padding: 30px 0;
    text-align: center;
    h1{
        font-size: 32px;
    }
    .container{
        background: #fff;
        opacity: 0.8;
        padding: 20px 30px 30px 30px;
    }
    
}

.section-a{
    padding: 30px 0;
    text-align: center;
    background: $main-color;
    color: set-text-color($main-color);
    .fa{
        font-size: $icon-size-sec;
    }
}

.section-b{
    padding: 30px 0;
    background: $primary-color;
    color: set-text-color($primary-color);
    img{
        max-width: 100%;
    }
    .panel-heading{
        color: set-text-color($main-color);
    }
}

.section-c{
    padding: 60px 0;
    background: $primary-color;
    color: set-text-color($primary-color);
    .btn{
        margin-top: 10px;
        
    }
}

.breadcrum{
    background: $main-color;
    min-height: 20vh;
    text-align: center;
    color: set-text-color($main-color);
    padding: 40px 0;

}

.footer{
    background:  darken($main-color,15%);
    min-height: 8vh;
    color: set-text-color($main-color);
    padding: 20px 30px 30px 30px ;
    border-top: 25px solid $main-color;
}